@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.Container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  height: auto;

  align-items: flex-start;
}

.Cart {
  flex: 2;
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.PriceSummary {
  flex: 1;
  display: flex;
  height: auto;
  background-color: var(--secondary);
  padding: 30px;
  border-radius: 10px;

  display: flex;
  gap: 20px;
  flex-direction: column;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.divider {
  border: none; /* remove default border */
  height: 2px; /* thickness of the line */
  background-color: black; /* color of the line */
  margin: 10px 0; /* spacing around the line */
}

.input {
  flex: 2;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  background-color: white;
  color: black;
  transition: border-color 0.2s ease;
}

.Promo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ApplyButton {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: white;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 20;
  border-radius: 6px;
}

.ApplyButton:hover {
  background-color: black;
  color: var(--primary);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.CheckoutButton {
  width: 100%;
  background-color: green;
  color: var(--primary);
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: background-color 0.2s ease;
}

.CheckoutButton:hover {
  background-color: #006400;
}
