.container {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.imgContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
