.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.imgContainer {
  flex: 0 0 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f2f2f2;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.details {
  padding-left: 20px;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0px;
  height: 150px;
}

.quantityPriceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
  font-weight: 500;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.deleteIcon {
  cursor: pointer;
  fill: white;
  transition: fill 0.5s ease;
}

.deleteIcon:hover {
  fill: gray;
}
