.galleryLayout {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  background: #f9fafb;
  width: 100%;
  padding: 1rem 1rem 1rem 2rem; 
  gap: 1.5rem;
  box-sizing: border-box;
}



.sidebarInlineWrapper {
  flex-shrink: 0;
  width: 260px; 
  position: relative;
}


.mainContent {
  flex: 1;             
  width: 100%;
}


@media (max-width: 900px) {
  .sidebarInlineWrapper {
    display: none; 
  }
}


