.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  height: auto;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 70vw;
  max-width: 900px;
  min-height: 500px;
  overflow: hidden; 
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
