:root {
  --primary: #fcfbf9;
  --secondary: #f1f1f1;
  --text: #333333;
}

body {
  background-color: var(--primary) !important;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Hide scrollbars globally but keep scrolling enabled */
html,
body {
  overflow-y: scroll; /* ensures layout doesn't shift */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}
