.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #f9fafb;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url("https://d3t95n9c6zzriw.cloudfront.net/homepage/hybrid-2021/hp-hero-slide2-11032025-large.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 4rem;
}

.overlay {
  background: rgba(252,251,249, 0.7);
  color: #333;
  text-align: left;
  padding: 3rem;
  padding-right: 4.5rem;
  padding-left: 4.5rem;
  border-radius: 2px;
}

.overlay h1 {
  font-size: 3.5rem;
  margin-bottom: 0.6rem;
}

.overlay p {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.heroLink {
  position: relative;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  transition: color 0.3s ease;
}

.heroLink::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #333;
  transition: width 0.3s ease;
}

.heroLink:hover {
  color: #333;
}

.heroLink:hover::after {
  width: 100%;
}

/* Categories */
.categoryGrid {
  display: flex;   
  flex-wrap: wrap;     
  gap: 1rem;
  justify-content: center;
}

.categories {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin-top: 3rem;
}

.categoryCard {
  position: relative;
  height: 45px; 
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid #333;
  padding: 0 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
    text-decoration: none;

}
.categoryOverlay {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: #333; 
}


.categoryCard:hover {
  transform: scale(1.03);
}

/* Featured Section */
.featuredWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto; 
}

.featured h2 {
  margin-bottom: 2rem;
  padding-top: 2rem;
  align-items: center;
  text-align: center;
}

/* Footer */
.footer {
  background: #111;
  color: #eee;
  text-align: center;
  padding: 1rem;
  width: 100%;
}
