.masonryGrid {
  display: flex !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

.masonryColumn {
  padding-left: 1rem;
  background-clip: padding-box;
  flex: 1 1 0 !important;
  min-width: 400px !important; 
  max-width: none !important; 
}

.masonryColumn:first-child {
  padding-left: 0;
}

.masonryItem {
  margin-bottom: 1rem;
  width: 100%;
}

@media (max-width: 1400px) {
  .masonryColumn {
    min-width: 350px !important;
  }
}

@media (max-width: 900px) {
  .masonryColumn {
    min-width: 100% !important;
    padding-left: 0;
  }
  
  .masonryItem {
    margin-bottom: 0.5rem;
  }
}