.masonryGrid {
  display: flex !important;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
  justify-content: flex-end; 
}

.masonryColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;              
  padding: 0;
  background-clip: padding-box;
  flex: 1 1 0;            
  min-width: 220px;        
}

.masonryItem {
  margin: 0;
  width: 100%;
}


