.masonryGrid {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: flex-start;
}

.masonryColumn {
  padding-left: 1rem;
  background-clip: padding-box;
  flex: 0 1 500px; 
}

.masonryColumn:first-child {
  padding-left: 0;
}

.masonryItem {
  margin-bottom: 1rem;
  width: 100%;
}

@media (max-width: 1400px) {
  .masonryColumn {
    min-width: 350px !important;
  }
}

@media (max-width: 900px) {
  .masonryColumn {
    min-width: 100% !important;
    padding-left: 0;
  }
  
  .masonryItem {
    margin-bottom: 0.5rem;
  }
}