.Container {
  display: flex;
  flex-direction: column;

  width: 800px;
  height: auto;

  align-items: flex-start;
  margin: 100px auto;

  background-color: var(--secondary);
  padding: 30px;
  border-radius: 10px;

  gap: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

.divider {
  border: none; /* remove default border */
  height: 2px; /* thickness of the line */
  background-color: black; /* color of the line */
  margin: 10px 0; /* spacing around the line */
  width: 100%;
}
