nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  font-size: 13pt;
  background-color: black;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

nav a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  color: var(--primary);
  padding: 0px 12px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 80%;
}

nav a:nth-child(3) {
  margin-left: auto;
}
